aws_region = "us-west-2"
environment = "homolog"

vpc_id = "vpc-ALTERAR"
private_subnet_ids = [
  "subnet-ALTERAR-A",
  "subnet-ALTERAR-B",
]
allowed_security_group_ids = ["sg-ALTERAR-EKS"]

db_name                  = "oficina"
db_username              = "oficina_admin"
db_engine_version        = "16"
db_instance_class        = "db.t3.micro"
db_allocated_storage     = 20
db_max_allocated_storage = 40
multi_az                  = false
backup_retention_days     = 7
deletion_protection       = false
skip_final_snapshot       = true

# db_password deve ser cadastrada como variável sensível no HCP Terraform.
